body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 0;
  color: #666;
}

#info {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 300px;
}
